.mapScreenWrapper {
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.mapContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #FFFF;
  text-align: center;
  z-index: 0;
}