.headerWrapper {
  width: 100%;
  height: 30px;
  position: fixed;
  z-index: 1000;
}

.header {
  width: 100%;
  height: 30px;
  color: #FFFFFF;
  background-color: #022836;
  cursor: default;
  user-select: none;
  max-height: 81px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 16px;
}

.clockWrapper {
  height: 30px;
  text-align: right;
}

.clock {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 30px + 1px;
}

.filterWrapper {
  width: 100%;
  padding-bottom: 0.5em;
  display: inline-flex;

  span {
    line-height: 22px;
    padding-left: 0.6em;
    font-weight: bold;
  }

  input, p {
    margin: 0;
  }

  p {
    padding-left: 0.4em;
    line-height: 22px;
  }
}

.dataWrapper {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #FFFFFF;

  span {
    padding-left: 10px;
  }
}